:root{
	--color: #f5fe95;
}

* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family:Georgia, 'Times New Roman', Times, serif
}

body{ 
    min-height: 100vh; 
}

header {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    padding: 30px 100px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    z-index: 100;
}

.logo { 
    position: absolute; 
    top: 20%; 
    left: 0;
    right: 10%;
}

#logo { 
    width: 200px; 
    height: 200px; 
}

.navigation a { 
    position: relative;
    padding: 12px 35px; 
    background: var(--color); 
    font-size: 17px; 
    font-weight: 500 
    color #181818; 
    border: 3px solid var(--color); 
    border-radius: 8px; 
    box-shadow: 0 0 0 #fec1958c; 
    transition: all .3s ease-in-out; 
    cursor: pointer; 

}

.navigation a span { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    border-radius: 30px; 
    z-index: -1; 
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
  
.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
  
.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
  
.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}
  
.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}
  
.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
}  

.navigation a:hover {
    background: transparent;
    color: var(--color);
    box-shadow: 0 0 25px #fec1958c;
}

.navigation a:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}
  
.navigation a:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}
  
.navigation a:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}
  
.navigation a:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}
  
.navigation a:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}
  
.navigation a:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #FFFDEF
  }

.parallax { 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background: url("../images/spotifybanner.jpg") no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}

#text {
    position: absolute; 
    font-size: 5em; 
    color: white;
    text-shadow: 2px 4px 5px black;

}

#text { 
    position: flex; 
    font-size: 5em; 
    color: white;
}

.about {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.about2 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#music { 
    width: 50em; 
    height: auto; 
    background: url("../images/spotifybanner.jpg") no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}

.today { 
    display: flex; 
    
}

.stars { 
    size: 200;
    background: url("../images/spotifybanner.jpg") no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}